# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\UserFiles\Projects\02_OnGoing\2020-12-01 Advent of Coding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Pycharm crap
.idea

# jupiter crap
.ipynb_checkpoints